In [4]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv ("/content/drive/MyDrive/data sets/global_food_wastage_dataset.csv")
df.head(10)

,Country,Year,Food Category,Total Waste (Tons),Economic Loss (Million $),Avg Waste per Capita (Kg),Population (Million),Household Waste (%)
0,Australia,2019,Fruits & Vegetables,19268.63,18686.68,72.69,87.59,53.64
1,Indonesia,2019,Prepared Food,3916.97,4394.48,192.52,1153.99,30.61
2,Germany,2022,Dairy Products,9700.16,8909.16,166.94,1006.11,48.08
3,France,2023,Fruits & Vegetables,46299.69,40551.22,120.19,953.05,31.91
4,France,2023,Beverages,33096.57,36980.82,104.74,1105.47,36.06
5,India,2024,Fruits & Vegetables,11962.89,11196.04,136.21,1311.91,37.09
6,Germany,2024,Prepared Food,45038.72,39191.25,179.27,1349.45,68.93
7,China,2019,Fruits & Vegetables,12791.20,12233.28,90.80,1229.29,59.90
8,UK,2019,Meat & Seafood,14795.65,14346.97,128.91,450.33,59.01
9,India,2019,Grains & Cereals,12118.32,13631.17,141.75,359.26,42.42

In [8]:
len(df)

5000

In [10]:
df.shape

(5000, 8)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    5000 non-null   object
 1   Year                       5000 non-null   int64
 2   Food Category              5000 non-null   object
 3   Total Waste (Tons)         5000 non-null   float64
 4   Economic Loss (Million $)  5000 non-null   float64
 5   Avg Waste per Capita (Kg)  5000 non-null   float64
 6   Population (Million)       5000 non-null   float64
 7   Household Waste (%)        5000 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 312.6+ KB

In [35]:
#check for duplicates
duplicate = df.duplicated().sum()

if duplicate:
  print("Duplicate data in existence: ", duplicate)
else:
  print("No duplicates traced")

No duplicates traced

In [36]:
df.isna().sum()
#no null values

Country                      0
Year                         0
Food Category                0
Total Waste (Tons)           0
Economic Loss (Million $)    0
Avg Waste per Capita (Kg)    0
Population (Million)         0
Household Waste (%)          0
dtype: int64

In [14]:
#number of unique countries
len(df["Country"].unique())

20

In [16]:
len(df["Year"].unique())
#data coverage for a period of 7 years

7

In [18]:
#number of unique food categories
len(df["Food Category"].unique())

8

In [37]:
df["Food Category"].unique()
#unique food categories

array(['Fruits & Vegetables', 'Prepared Food', 'Dairy Products',
       'Beverages', 'Meat & Seafood', 'Grains & Cereals', 'Frozen Food',
       'Bakery Items'], dtype=object)

In [38]:
df["Country"].unique()
#unique countries in the data set

array(['Australia', 'Indonesia', 'Germany', 'France', 'India', 'China',
       'UK', 'South Africa', 'Japan', 'USA', 'Brazil', 'Saudi Arabia',
       'Italy', 'Spain', 'Mexico', 'Argentina', 'Canada', 'South Korea',
       'Russia', 'Turkey'], dtype=object)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    5000 non-null   object
 1   Year                       5000 non-null   int64
 2   Food Category              5000 non-null   object
 3   Total Waste (Tons)         5000 non-null   float64
 4   Economic Loss (Million $)  5000 non-null   float64
 5   Avg Waste per Capita (Kg)  5000 non-null   float64
 6   Population (Million)       5000 non-null   float64
 7   Household Waste (%)        5000 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 312.6+ KB

In [34]:
df.describe()

,Year,Total Waste (Tons),Economic Loss (Million $),Avg Waste per Capita (Kg),Population (Million),Household Waste (%)
count,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2021.015600,25061.780072,25039.703870,109.46397,706.606416,50.060890
std,1.999239,14245.119588,14620.236429,51.93373,402.546464,11.596203
min,2018.000000,502.610000,406.690000,20.09000,11.290000,30.020000
25%,2019.000000,12783.737500,12612.477500,64.05000,350.602500,40.012500
50%,2021.000000,24865.220000,24428.155000,110.08000,713.530000,50.295000
75%,2023.000000,37471.035000,37146.037500,154.52500,1057.255000,60.125000
max,2024.000000,49990.760000,59228.930000,199.97000,1399.970000,70.000000

In [47]:
#top 15 countries with the highest percentage of household waste

df.sort_values(by="Household Waste (%)", ascending=False).head(15)

,Country,Year,Food Category,Total Waste (Tons),Economic Loss (Million $),Avg Waste per Capita (Kg),Population (Million),Household Waste (%)
2961,Argentina,2021,Dairy Products,2843.54,2454.58,146.99,320.19,70.00
2047,Indonesia,2024,Beverages,34860.29,30988.40,32.18,935.91,69.99
884,Italy,2020,Meat & Seafood,47037.46,37722.96,35.83,63.44,69.99
2193,Japan,2020,Prepared Food,47608.92,55268.50,52.68,618.59,69.99
1528,UK,2018,Prepared Food,34932.96,31002.47,24.41,234.78,69.99
4949,Russia,2022,Prepared Food,24389.20,22916.51,42.54,727.53,69.98
3616,Brazil,2023,Fruits & Vegetables,29196.12,24627.33,186.14,889.40,69.98
3914,China,2018,Dairy Products,21886.53,21929.06,54.64,981.93,69.96
4091,Italy,2021,Meat & Seafood,41616.06,45467.27,198.75,971.50,69.96
1060,Indonesia,2020,Meat & Seafood,1562.07,1350.58,131.14,95.66,69.96
4619,Indonesia,2019,Bakery Items,34680.00,28045.70,160.94,690.05,69.95
4998,Australia,2021,Beverages,26566.64,29357.57,197.14,1086.17,69.95
4701,Brazil,2023,Frozen Food,19435.29,17713.11,188.88,86.56,69.95
1596,UK,2023,Grains & Cereals,5717.85,5416.86,83.75,1334.57,69.95
4471,Italy,2023,Fruits & Vegetables,26493.15,24338.43,68.05,893.81,69.94

In [45]:
df.groupby("Food Category")["Country"].sum().sort_values(ascending=False).head(5)

Food Category
Bakery Items        USABrazilArgentinaArgentinaUSAJapanRussiaGerma...
Meat & Seafood      UKUSAUKIndiaMexicoArgentinaUKMexicoSaudi Arabi...
Frozen Food         South AfricaJapanBrazilFranceIndonesiaCanadaSo...
Prepared Food       IndonesiaGermanySaudi ArabiaChinaSaudi ArabiaB...
Grains & Cereals    IndiaBrazilUKSouth KoreaAustraliaTurkeyJapanSo...
Name: Country, dtype: object

In [52]:
df.sort_values(by="Country", ascending=False)[["Food Category", "Year"]].head(15)

            Food Category  Year
356           Frozen Food  2018
4026        Prepared Food  2019
3253     Grains & Cereals  2023
1035     Grains & Cereals  2020
3748          Frozen Food  2018
821      Grains & Cereals  2024
1486         Bakery Items  2024
1826          Frozen Food  2023
2048  Fruits & Vegetables  2019
2508       Dairy Products  2019
3752          Frozen Food  2018
1023            Beverages  2024
1881       Dairy Products  2024
4414          Frozen Food  2024
184        Meat & Seafood  2022